/*----->Diseño Contenedor<----*/

.contenedor_trabajadores {
    display: grid; /* Utiliza grid layout para el contenedor */
    grid-template-columns: repeat(4, 1fr); /* Define 4 columnas */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 16px; /* Espacio interno alrededor del contenido */
    height: calc(100vh - 15px); /* Ocupa toda la altura disponible, restando el padding */
    margin-left: 270px; /* Deja espacio para la barra lateral más una distancia adicional */
    width: calc(100% - 180px); /* Ocupa todo el ancho restante después de la barra lateral y la distancia */
    background-color: rgba(233, 233, 233, 0.607);
    box-sizing: border-box; /* Incluye el padding y el borde en las dimensiones totales */
}

.Barra_encabezado{
    color: black;
}